@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Homemade+Apple&family=Great+Vibes&family=Caveat&family=Satisfy&family=Alex+Brush&family=Pacifico&display=swap');
/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional: Custom base styles for dark mode support */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}